@font-face {
    font-family: "courier-prime";
    src: url("./font/CourierPrime-Regular.ttf");
}

canvas {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    user-select: none;
    caret-color: transparent;
    background-color: black;
}

#container{
    position:absolute;
    right: 10%;
    top: 25%;
}

.control-panel {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: 25%;
    bottom: 0;
    left: 20%;
    right: 0;
    color: white;
    z-index: 1;
}

.row {
    position: relative;
    display: block;
    overflow: visible;
}

.instructions{
    position:absolute;
    top: 20%;
    left: 23%;
    font-size: 90%;
    color: white;
    font-family: courier-prime;
}

.points{
    position: absolute;
    top: 20%;
    right: 20%;
    color: white;
    font-size: 30px;
    font-family: courier-prime;
    user-select: none;
    caret-color: transparent;
}

.status{
    position: absolute;
    top: 25%;
    right: 20%;
    color: white;
    font-size: 90%;
    font-family: courier-prime;
}

.pie {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 190px;
    height: 190px;
    border-radius: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    box-shadow: 0px 0px 10px 15px #ffffff;
}

button, button:focus {
    outline: none;
    background-image: linear-gradient(32deg, rgba(2,0,36,1) 8%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
    border: ridge 2px white;
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom left;
    transition: all 200ms ease-out;
}

button:hover {
    box-shadow: 0px 0px 10px 5px #515151;
    background-image: linear-gradient(32deg, rgba(23,14,167,1) 8%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
    z-index: 2;
}

@keyframes flashcorrect {
    0% {
        box-shadow: 0px 0px 150px 150px rgb(30, 255, 30);
        opacity:1;
    }
    52% {
        box-shadow: 0px 0px 10px 15px rgb(111, 255, 128);
    }
}
   
.flashcorrect {
    animation-name: flashcorrect;
    animation-duration: 1500ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}  

@keyframes flashwrong {
    0% {
        box-shadow: 0px 0px 250px 250px #dc143c;
        opacity:1;
    }
    77% {
        box-shadow: 0px 0px 125px 125px #ff0000;
    }
}

.flashwrong {
    animation-name: flashwrong;
    animation-duration: 900ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}  



.spin-button{
    background-color: rgb(255, 255, 0);
    border-radius: 25px;
    color: black;
    padding: 15px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    overflow: visible;
    text-align: center;
    box-shadow: 0px 0px 5px 8px #333;
    transition: 600ms;
    caret-color: transparent;
    cursor: pointer;
    user-select: none;
    z-index: 5;
}

.spin-button:hover{
    background-color: rgb(255,255,80);
    box-shadow: 0px 0px 5px 10px #aaaa00;
}

.direction-buttons {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 70%;
    height: 240px;
    width: 388px;
}

.text {
    position: absolute;
    bottom: 30px;
    padding: 0px;
    color: #333;
    left: 30px;
}

#warped {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    top: 4%;
    bottom: 0;
    left: 0;
    right: 0%;
    display: block;
    width: 215px;
    height: 198px;
    z-index: 5;
    caret-color: transparent;
    pointer-events: none;
    text-shadow: 2px 2px 4px #000000;
}

#warped>span[class^=w]:nth-of-type(n+0) {
    display: block;
    position: absolute;
    -moz-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

#warped span {
    font-family: 'courier-prime';
    font-size: 24px;
    font-style: normal;
    line-height: 1.4;
    white-space: pre;
    overflow: visible;
    padding: 0px;
}

#warped .w0 {
    -moz-transform: rotate(0.02rad);
    -webkit-transform: rotate(0.02rad);
    -o-transform: rotate(0.02rad);
    -ms-transform: rotate(0.02rad);
    transform: rotate(0.02rad);
    width: 14px;
    height: 33px;
    left: 98.02px;
    top: 11.01px;
}

#warped .w1 {
    -moz-transform: rotate(0.24rad);
    -webkit-transform: rotate(0.24rad);
    -o-transform: rotate(0.24rad);
    -ms-transform: rotate(0.24rad);
    transform: rotate(0.24rad);
    width: 14px;
    height: 33px;
    left: 107.91px;
    top: 12.34px;
}

#warped .w2 {
    -moz-transform: rotate(0.46rad);
    -webkit-transform: rotate(0.46rad);
    -o-transform: rotate(0.46rad);
    -ms-transform: rotate(0.46rad);
    transform: rotate(0.46rad);
    width: 14px;
    height: 33px;
    left: 117.26px;
    top: 15.82px;
}

#warped .w3 {
    -moz-transform: rotate(0.68rad);
    -webkit-transform: rotate(0.68rad);
    -o-transform: rotate(0.68rad);
    -ms-transform: rotate(0.68rad);
    transform: rotate(0.68rad);
    width: 14px;
    height: 33px;
    left: 125.62px;
    top: 21.27px;
}

#warped .w4 {
    -moz-transform: rotate(0.91rad);
    -webkit-transform: rotate(0.91rad);
    -o-transform: rotate(0.91rad);
    -ms-transform: rotate(0.91rad);
    transform: rotate(0.91rad);
    width: 14px;
    height: 33px;
    left: 133.57px;
    top: 28.44px;
}

#warped .w5 {
    -moz-transform: rotate(1.13rad);
    -webkit-transform: rotate(1.13rad);
    -o-transform: rotate(1.13rad);
    -ms-transform: rotate(1.13rad);
    transform: rotate(1.13rad);
    width: 14px;
    height: 33px;
    left: 137.77px;
    top: 36.95px;
}

#warped .w6 {
    -moz-transform: rotate(1.35rad);
    -webkit-transform: rotate(1.35rad);
    -o-transform: rotate(1.35rad);
    -ms-transform: rotate(1.35rad);
    transform: rotate(1.35rad);
    width: 14px;
    height: 33px;
    left: 140.96px;
    top: 46.41px;
}

#warped .w7 {
    -moz-transform: rotate(1.57rad);
    -webkit-transform: rotate(1.57rad);
    -o-transform: rotate(1.57rad);
    -ms-transform: rotate(1.57rad);
    transform: rotate(1.57rad);
    width: 14px;
    height: 33px;
    left: 141.99px;
    top: 59.33px;
}

#warped .w8 {
    -moz-transform: rotate(1.8rad);
    -webkit-transform: rotate(1.8rad);
    -o-transform: rotate(1.8rad);
    -ms-transform: rotate(1.8rad);
    transform: rotate(1.8rad);
    width: 14px;
    height: 33px;
    left: 140.81px;
    top: 66.24px;
}

#warped .w9 {
    -moz-transform: rotate(2.02rad);
    -webkit-transform: rotate(2.02rad);
    -o-transform: rotate(2.02rad);
    -ms-transform: rotate(2.02rad);
    transform: rotate(2.02rad);
    width: 14px;
    height: 33px;
    left: 137.48px;
    top: 75.65px;
}

#warped .w10 {
    -moz-transform: rotate(2.24rad);
    -webkit-transform: rotate(2.24rad);
    -o-transform: rotate(2.24rad);
    -ms-transform: rotate(2.24rad);
    transform: rotate(2.24rad);
    width: 14px;
    height: 33px;
    left: 132.15px;
    top: 84.09px;
}

#warped .w11 {
    -moz-transform: rotate(2.46rad);
    -webkit-transform: rotate(2.46rad);
    -o-transform: rotate(2.46rad);
    -ms-transform: rotate(2.46rad);
    transform: rotate(2.46rad);
    width: 14px;
    height: 33px;
    left: 125.09px;
    top: 91.15px;
}

#warped .w12 {
    -moz-transform: rotate(2.68rad);
    -webkit-transform: rotate(2.68rad);
    -o-transform: rotate(2.68rad);
    -ms-transform: rotate(2.68rad);
    transform: rotate(2.68rad);
    width: 14px;
    height: 33px;
    left: 116.65px;
    top: 96.47px;
}

#warped .w13 {
    -moz-transform: rotate(2.91rad);
    -webkit-transform: rotate(2.91rad);
    -o-transform: rotate(2.91rad);
    -ms-transform: rotate(2.91rad);
    transform: rotate(2.91rad);
    width: 14px;
    height: 33px;
    left: 107.25px;
    top: 99.81px;
}

#warped .w14 {
    -moz-transform: rotate(3.13rad);
    -webkit-transform: rotate(3.13rad);
    -o-transform: rotate(3.13rad);
    -ms-transform: rotate(3.13rad);
    transform: rotate(3.13rad);
    width: 14px;
    height: 33px;
    left: 97.34px;
    top: 100.99px;
}

#warped .w15 {
    -moz-transform: rotate(3.35rad);
    -webkit-transform: rotate(3.35rad);
    -o-transform: rotate(3.35rad);
    -ms-transform: rotate(3.35rad);
    transform: rotate(3.35rad);
    width: 14px;
    height: 33px;
    left: 87.41px;
    top: 99.96px;
}

#warped .w16 {
    -moz-transform: rotate(3.57rad);
    -webkit-transform: rotate(3.57rad);
    -o-transform: rotate(3.57rad);
    -ms-transform: rotate(3.57rad);
    transform: rotate(3.57rad);
    width: 14px;
    height: 33px;
    left: 77.96px;
    top: 96.77px;
}

#warped .w17 {
    -moz-transform: rotate(3.8rad);
    -webkit-transform: rotate(3.8rad);
    -o-transform: rotate(3.8rad);
    -ms-transform: rotate(3.8rad);
    transform: rotate(3.8rad);
    width: 14px;
    height: 33px;
    left: 72.44px;
    top: 93.57px;
}

#warped .w18 {
    -moz-transform: rotate(4.02rad);
    -webkit-transform: rotate(4.02rad);
    -o-transform: rotate(4.02rad);
    -ms-transform: rotate(4.02rad);
    transform: rotate(4.02rad);
    width: 14px;
    height: 33px;
    left: 64.28px;
    top: 86.63px;
}

#warped .w19 {
    -moz-transform: rotate(4.24rad);
    -webkit-transform: rotate(4.24rad);
    -o-transform: rotate(4.24rad);
    -ms-transform: rotate(4.24rad);
    transform: rotate(4.24rad);
    width: 14px;
    height: 33px;
    left: 56.82px;
    top: 76.27px;
}

#warped .w20 {
    -moz-transform: rotate(4.46rad);
    -webkit-transform: rotate(4.46rad);
    -o-transform: rotate(4.46rad);
    -ms-transform: rotate(4.46rad);
    transform: rotate(4.46rad);
    width: 14px;
    height: 33px;
    left: 53.34px;
    top: 66.92px;
}

#warped .w21 {
    -moz-transform: rotate(4.68rad);
    -webkit-transform: rotate(4.68rad);
    -o-transform: rotate(4.68rad);
    -ms-transform: rotate(4.68rad);
    transform: rotate(4.68rad);
    width: 14px;
    height: 33px;
    left: 52.01px;
    top: 61.03px;
}

#warped .w22 {
    -moz-transform: rotate(4.91rad);
    -webkit-transform: rotate(4.91rad);
    -o-transform: rotate(4.91rad);
    -ms-transform: rotate(4.91rad);
    transform: rotate(4.91rad);
    width: 14px;
    height: 33px;
    left: 52.89px;
    top: 47.09px;
}

#warped .w23 {
    -moz-transform: rotate(5.13rad);
    -webkit-transform: rotate(5.13rad);
    -o-transform: rotate(5.13rad);
    -ms-transform: rotate(5.13rad);
    transform: rotate(5.13rad);
    width: 14px;
    height: 33px;
    left: 55.93px;
    top: 37.58px;
}

#warped .w24 {
    -moz-transform: rotate(5.35rad);
    -webkit-transform: rotate(5.35rad);
    -o-transform: rotate(5.35rad);
    -ms-transform: rotate(5.35rad);
    transform: rotate(5.35rad);
    width: 14px;
    height: 33px;
    left: 61px;
    top: 28.99px;
}

#warped .w25 {
    -moz-transform: rotate(5.57rad);
    -webkit-transform: rotate(5.57rad);
    -o-transform: rotate(5.57rad);
    -ms-transform: rotate(5.57rad);
    transform: rotate(5.57rad);
    width: 14px;
    height: 33px;
    left: 67.84px;
    top: 21.72px;
}

#warped .w26 {
    -moz-transform: rotate(6.25rad);
    -webkit-transform: rotate(6.25rad);
    -o-transform: rotate(6.25rad);
    -ms-transform: rotate(6.25rad);
    transform: rotate(6.25rad);
    width: 8px;
    height: 15px;
    left: 286.14px;
    top: 55.04px;
}

#warped .w27 {
    -moz-transform: rotate(6.33rad);
    -webkit-transform: rotate(6.33rad);
    -o-transform: rotate(6.33rad);
    -ms-transform: rotate(6.33rad);
    transform: rotate(6.33rad);
    width: 6px;
    height: 15px;
    left: 299.13px;
    top: 55.22px;
}

#warped .w28 {
    -moz-transform: rotate(6.42rad);
    -webkit-transform: rotate(6.42rad);
    -o-transform: rotate(6.42rad);
    -ms-transform: rotate(6.42rad);
    transform: rotate(6.42rad);
    width: 11px;
    height: 15px;
    left: 310.06px;
    top: 56.55px;
}

#warped .w29 {
    -moz-transform: rotate(6.53rad);
    -webkit-transform: rotate(6.53rad);
    -o-transform: rotate(6.53rad);
    -ms-transform: rotate(6.53rad);
    transform: rotate(6.53rad);
    width: 12px;
    height: 15px;
    left: 325.73px;
    top: 59.82px;
}

#warped .w30 {
    -moz-transform: rotate(6.63rad);
    -webkit-transform: rotate(6.63rad);
    -o-transform: rotate(6.63rad);
    -ms-transform: rotate(6.63rad);
    transform: rotate(6.63rad);
    width: 7px;
    height: 15px;
    left: 342.06px;
    top: 64.14px;
}

#warped .w31 {
    -moz-transform: rotate(6.71rad);
    -webkit-transform: rotate(6.71rad);
    -o-transform: rotate(6.71rad);
    -ms-transform: rotate(6.71rad);
    transform: rotate(6.71rad);
    width: 7px;
    height: 15px;
    left: 353.15px;
    top: 68.71px;
}

#warped .w32 {
    -moz-transform: rotate(6.84rad);
    -webkit-transform: rotate(6.84rad);
    -o-transform: rotate(6.84rad);
    -ms-transform: rotate(6.84rad);
    transform: rotate(6.84rad);
    width: 23px;
    height: 15px;
    left: 362.72px;
    top: 78.25px;
}

#warped .w33 {
    -moz-transform: rotate(7rad);
    -webkit-transform: rotate(7rad);
    -o-transform: rotate(7rad);
    -ms-transform: rotate(7rad);
    transform: rotate(7rad);
    width: 15px;
    height: 15px;
    left: 385.88px;
    top: 92.65px;
}

#warped .w34 {
    -moz-transform: rotate(7.12rad);
    -webkit-transform: rotate(7.12rad);
    -o-transform: rotate(7.12rad);
    -ms-transform: rotate(7.12rad);
    transform: rotate(7.12rad);
    width: 10px;
    height: 15px;
    left: 400.79px;
    top: 104.98px;
}

#warped .w35 {
    -moz-transform: rotate(7.24rad);
    -webkit-transform: rotate(7.24rad);
    -o-transform: rotate(7.24rad);
    -ms-transform: rotate(7.24rad);
    transform: rotate(7.24rad);
    width: 15px;
    height: 15px;
    left: 409.17px;
    top: 118.67px;
}

#warped .w36 {
    -moz-transform: rotate(7.34rad);
    -webkit-transform: rotate(7.34rad);
    -o-transform: rotate(7.34rad);
    -ms-transform: rotate(7.34rad);
    transform: rotate(7.34rad);
    width: 7px;
    height: 15px;
    left: 421.66px;
    top: 132.22px;
}

#warped .w37 {
    -moz-transform: rotate(7.42rad);
    -webkit-transform: rotate(7.42rad);
    -o-transform: rotate(7.42rad);
    -ms-transform: rotate(7.42rad);
    transform: rotate(7.42rad);
    width: 6px;
    height: 15px;
    left: 427.35px;
    top: 142.48px;
}

#warped .w38 {
    -moz-transform: rotate(7.51rad);
    -webkit-transform: rotate(7.51rad);
    -o-transform: rotate(7.51rad);
    -ms-transform: rotate(7.51rad);
    transform: rotate(7.51rad);
    width: 10px;
    height: 15px;
    left: 430.25px;
    top: 154.52px;
}

#warped .w39 {
    -moz-transform: rotate(7.6rad);
    -webkit-transform: rotate(7.6rad);
    -o-transform: rotate(7.6rad);
    -ms-transform: rotate(7.6rad);
    transform: rotate(7.6rad);
    width: 8px;
    height: 15px;
    left: 435.34px;
    top: 167.91px;
}

#warped .w40 {
    -moz-transform: rotate(7.68rad);
    -webkit-transform: rotate(7.68rad);
    -o-transform: rotate(7.68rad);
    -ms-transform: rotate(7.68rad);
    transform: rotate(7.68rad);
    width: 7px;
    height: 15px;
    left: 438.42px;
    top: 180.13px;
}
